@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.timer {
    font-size: 3em;
    font-family: 'Share Tech Mono', monospace;
    font-weight: 400;
}

.container {
    margin: 0 auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}

.buttons > button {
    width: 30%;
    height: 50px;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}

.stoped {
    color: red;
}